<template>
  <div class="about">
    <img alt="Vue logo" src="../assets/logo.png" />
    <ListTodo/>
  </div>
</template>

<script>
import ListTodo from "@/components/ListTodo.vue";

export default {
  name: "About",  
  components: {
    ListTodo,
  },
};
</script>
