<template>
  <div class="home">
    <img class="img" alt="Vue logo" src="../assets/logo.png" />
    <AddTodo/>
  </div>
</template>

<script>
// @ is an alias to /src
import AddTodo from "@/components/AddTodo.vue";

export default {
  name: "Home",  
  components: {
    AddTodo,
  },
};
</script>
<style> 
.img{
  height:100px
}
</style>