<template>
  <div class="todos">
    <br />
    <input class="todotitle" type="text" v-model="todoTitle" placeholder="Enter Title:"/> <br />
    <textarea class="todobody" v-model="todoBody" placeholder="Enter Body:"> </textarea> <br />
    <button class="addtodo" v-on:click="addTodo">Add ToDo</button>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: "Todo",
  data() {
    return {
      todoTitle: "",
      todoBody: "",
    };
  },
  methods: {
    addTodo: function () { 
      alert(this.todoTitle+"\n"+this.todoBody);
      axios.post("http://localhost:5000/todo",{title:this.todoTitle,content:this.todoBody}).then(response =>{
      console.log(response)      
    })
      this.todoTitle = "";
      this.todoBody = "";
    },
  },
};
</script>

<style scoped>
.todotitle{
  margin:10px;
  width:50%;
  height:25px;
  padding:20px;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  color:#42b883;
  background-color:#35495e;
  border:5px solid black;
}
.todobody{
  margin:10px;
  width:50%;
  height:100px;
  padding:20px;
  font-size:18px;
  color:white;
  background-color:#35495e;
  border:5px solid black;
}
.addtodo{
  margin:10px;
  width:25%;
  height:50px;
  font-size:20px;
  font-weight:bold;
  color:#42b883;
  background-color:#35495e;
  border:5px solid black;
}
</style>
