<template>
  <div class="todoss">
      <div class="card" v-for="(todo,index) in todos" :key="index">
          <p class="title">{{todo.title}} </p>
          <p class="body"> {{todo.Content}} </p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: "ListTodo",
  data() {
    return {
      Title:[],
      Body:[],
      todos:{}
    };
  },
  created(){
    axios.get("http://localhost:5000/todo").then(response =>{
      this.todos=response.data;
    })
  },
};
</script>

<style scoped>
.card{   
    background-color:#35495e;
    width:15%;   
    max-width:150px; 
    padding:20px;
    float:left;
    margin:20px;
    min-height:200px;
    max-height:200px;
    border:5px solid black;
}
.title{
    color:#42b883;
    font-size:14px;
    word-wrap:break-word;
    border-bottom:2px solid white;
    padding:5px;
    font-weight:bold;
}
.body{
    color:white;
    font-size:12px;
    overflow: hidden;
    box-sizing: border-box;
    font-style:italic;
}
</style>
